<?xml version="1.0" ?>
<model>
  <name>triangle_wall</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your.email@example.com</email>
  </author>
  <description>Wall model with left and right triangle parts.</description>
</model>

