
<launch>

<include file="$(find controller)/launch/control.launch"/>
<include file="$(find maneuver)/launch/maneuver.launch"/>
<include file="$(find vrpn_client_ros)/launch/sample.launch">
      <arg name="server" value="192.168.1.2" />
</include> 

  <node name="state" pkg="omni_firmware" type="state_node" output="screen"/>

</launch>
